//Widescreens
@include mediaXl {
}
//Desktops & Laptops
@include mediaLg {
  .menu {
    &-links {
      width: 35%;
    }
  }
  .roster-container {
    grid-template-areas: "player player player player";
    grid-template-columns: repeat(4, 1fr);
    img {
      width: 150px;
    }
    .flip-box {
      width: 150px;
      height: 225px;
    }

    .flip-box-inner {
      width: 150px;
      height: 186.74px;
    }

    .flip-box-front,
    .flip-box-back {
      width: 150px;
      height: 186.74px;
    }
  }
}

//Tablets & small laptops
@include mediaMd {
  .standings {
    flex-direction: column;
    div {
      width: 96%;
    }
  }
  .menu {
    &-links {
      width: 50%;
    }
  }
  .roster-container {
    grid-template-areas: "player player player";
    grid-template-columns: repeat(3, 1fr);
    img {
      width: 137px;
    }
    .flip-box {
      width: 137px;
      height: 200px;
    }

    .flip-box-inner {
      width: 137px;
      height: 170.43px;
    }
    .flip-box-front,
    .flip-box-back {
      width: 137px;
      height: 170.43px;
    }
  }
}

//Smartphones
@include mediaSm {
  main {
    .lg-heading {
      font-size: 5rem;
    }
    .sm-heading {
      margin-bottom: 2rem;
      padding: 0.2rem 0.7rem;
      background: rgba(lighten($primary-color, 5), 0.5);
      &#football {
        margin-top: 75px;
      }
    }
  }
  .standings {
    flex-direction: column;
    div {
      width: 96%;
      line-height: 40px;
    }
  }

  .menu {
    &-links {
      width: 100%;
    }
  }
  .roster-container {
    grid-template-areas: "player player";
    grid-template-columns: repeat(2, 1fr);
    img {
      width: 150px;
    }
    .flip-box {
      width: 150px;
      height: 225px;
    }

    .flip-box-inner {
      width: 150px;
      height: 186.74px;
    }
    .flip-box-front,
    .flip-box-back {
      width: 150px;
      height: 186.74px;
    }
  }
}
